body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    overflow: hidden;

    background-image: url('mobilebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 10px 0px;
}

.form-container {
    background-color: linear-gradient(to bottom right, #ffffff, #f7a0cb);

    padding: 10px;
    border-radius: 20px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: 0 20px;

    overflow: hidden;

    margin-bottom: -30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.form-group input:focus {
    outline: none;

    border-color: #ccc;

    box-shadow: none;

}

.button-container {
    display: flex;
    justify-content: center;
}

.check-button {
    display: inline-block;
    width: 100%;
    padding: 12px 0;

    border: none;
    border-radius: 5px;

    background: linear-gradient(to right, rgb(3, 20, 66), red);

    color: white;
    font-size: 15px;

    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.check-button:hover {
    background: linear-gradient(to right, black, darkred);
}

.error-message {
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

h1 {
    font-size: 22px;
}